**/target
**/classes
**/out
**/logs
**/pids
**/dumps
**.log
########## Project Files ##########
**default-folders.properties
########## InteliJ IDEA ##########
*.iml
.idea
########## Eclipse IDEA ##########
.settings
.metadata
**/bin
########## MAC OS ##########